div.output_subarea pre {
    white-space: pre;
}

#gui_panel {
    display: none;
    visibility: visible;
    height: inherit;
    overflow: auto;
    background-color: #ffffff;
    position: relative;
    z-index: 98;
}

/* 
   necessary in order to hide the notebook and get good
   looking bokeh plots, plots don't appear if display is
   just none.
*/
.hidden-notebook {
    visibility: hidden;
    height: 0 !important;
    overflow: hidden;
}

.visible-notebook {
    visibility: visible;
    height: 100%;
    overflow: auto;
}

.cropped-container {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}

/* form group from bootstrap had too big margins */
.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-header-bar {
    width: 100%;
    height: 1px;
    background: #e7e7e7;
    margin-top: -1px;
}

.gui_header {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

::placeholder {
    color: #d3d3d3
}
